html,body 
{
	padding: 0;
	margin: 0;
	background-color: #133313;
}

ul
{
	list-style-type: none;
	padding: 0;
}

li
{
	padding-bottom: 12px;
}

.header 
{
	width: 100%;
	min-height: 5%;
	display: inline-block;
	border-bottom: 4px solid #5E795E;
}

.headerTitle
{	
	float: left;
	color: #9FA99F;
	margin-left: 12px;
}

.footer
{
	width: 100%;
	min-height: 5%;
	display: inline-block;
	border-top: 4px solid #5E795E;
}

.clock 
{
	float: right;
	color: #9FA99F;
	margin-right: 12px;
}

.content 
{
	background-color: #9FA99F;
	display: inline-block;
	width: 1200px;
}

.leftContentPanel
{
	border: 1px solid black;
	float: left;
	clear: left;
	min-height: 80%;
	background-color: #768C76;
	border-right: 4px solid #5E795E;
	padding-left: 12px;
}

.mainContentPanel
{
	float: right;
	text-align: left;
	clear: right;
	min-height: 80%;
	overflow: auto;
}

.nav
{
	display: block;
	width: 100%;
	font-size: 14pt;
}