
<html class="no-js" lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Welcome</title>
        <meta name="description" content="">
        <meta name="author" content="Conner Dodge">
        <meta name="copyright" content="Copyright (c) 2015">

        <link type="text/css" rel="stylesheet" href="css/stylesheet.css">

        <script src="lib/angular.min.js"></script>
        <script src="lib/angular-animate.min.js"></script>
        <script src="lib/angular-ui-router.min.js"></script>

        <script src="js/app.module.js"></script>
        <script src="js/nav.controller.js"></script>
        <script src="js/converter.controller.js"></script>
        <script src="js/clock.controller.js"></script>
        <script src="js/app.controller.js"></script>
	</head>
	<body ng-app="app" ng-controller="appController">
        <div class="header" ng-controller="clockController">
            <div class="headerTitle">
                <h2>Conner Dodge</h2>
            </div>
            <div> 
                <h2 class="clock" >{{theTime}}</h2>
            </div>
        </div>
        <div class="content" ng-style="{ 'width' : contentWidth}">
            <div ng-controller="navController" class="leftContentPanel" ng-style="{ 'width' : leftPanelWidth }" >
            </div>
            <div ng-view class="mainContentPanel" ng-controller="converterController" ng-style="{ 'width' : mainContentWidth }">
                <div>
                    <h2>Home</h2>
                    <h4>Convert Hex/Binary/Decimal Numbers</h4>
                    <table>
                        <th>Hex:<input type="text" placeholder="0xffff" ng-model="hexVal"></th>
                        <th>Binary:<input type="text" placeholder="1101" ng-model="binaryVal"></th>
                        <th>Decimal:<input type="text" placeholder="1234" ng-model="decimalVal"></th>
                        <tbody>
                            <tr><td>Binary: {{ vals[0].bin }}</td><td>Decimal: {{ vals[1].dec }}</td><td>Hex: {{ vals[2].hex }}</td></tr>
                            <tr><td>Decimal: {{ vals[0].dec }}</td><td>Hex: {{ vals[1].hex }}</td><td>Binary: {{ vals[2].bin }}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="footer">
        </div>
	</body>
</html>