<div ng-controller="converterController as conv">
    <h2>Home</h2>
    <h4>Convert Hex/Binary/Decimal Numbers</h4>
    <table>
        <th>Hex:<input type="text" ng-model="hexVal"></th><th>Binary:<input type="text" ng-model="binaryVal"></th><th>Decimal:<input type="text" ng-model="decimalVal"></th>
        <tbody>
            <tr><td>Binary: {{ conv.vals[0].bin }}</td><td>Decimal: {{ conv.vals[1].dec }}</td><td>Hex: {{ conv.vals[2].hex }}</td></tr>
            <tr><td>Decimal: {{ conv.vals[0].dec }}</td><td>Hex: {{ conv.vals[1].hex }}</td><td>Binary: {{ conv.vals[2].bin }}</td></tr>
        </tbody>
    </table>
</div>